[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Use-Case-Script
Comment=Executing Use-Case For Kernel Tailoring
Exec=/usr/bin/gnome-terminal -x /home/ultract2/use-case.sh
#OnlyShowIn=GNOME;
StartupNotify=false
Terminal=false
Hidden=false

